*{
    direction: rtl;
    word-spacing:3px;
    line-height: 1.7em;
    font-family: yekanbakh-bold;
}
@font-face {
    font-family:yekanbakh-bold;
    src:url(../fonts/Yekan\ Bakh\ -Bold.ttf);
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?ma7bm1');
    src:  url('../fonts/icomoon.eot?ma7bm1#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?ma7bm1') format('truetype'),
      url('../fonts/icomoon.woff?ma7bm1') format('woff'),
      url('../fonts/icomoon.svg?ma7bm1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-in:before {
    content: "\e908";
  }
  .icon-facebook:before {
    content: "\face";
  }
  .icon-twiter:before {
    content: "\e907";
  }
  .icon-insta:before {
    content: "\e906";
  }
  
li {
    list-style: none;
}
a {
    text-decoration: none!important;
}
.nav-box li {
    padding:0 32px;
    border-left:1px solid #d0d0d1;
}
.nav-box li:last-child {
    border-left:none;
}
:root {
    --text-color2:rgba(18, 19, 26, 1)!important;
    --text-font:14px;
}
.nav-box li a {
    color:var(--text-color2)!important;
    font-size: var(--text-font);
}
.btn {
    background-color: transparent!important;
    border-radius:20px!important;
    color:#4927CD!important;
    border-color:#4927CD!important;
}
.navbar-asli {
    background-color: #fff!important;
    border-bottom: 1px solid #f3f3f4;
}
.h1-box {
    font-size:20px ;
}
.tab-box2 {
    margin-top:48px;
}
.par-box p {
    text-align: justify;
    margin-top: 24px;
}
.tab-box3 {
    direction: ltr;
}
.tab-div p {
    text-align: justify;
    font-size:var(--text-font);
    margin-top: 24px;
}
.div-board-box p {
    direction: ltr;
    margin:0;
    color:white;
}
.div-board-box {
    padding:6px;
    border:1px solid #272822;
    background-color: #272822;
    border-radius:8px ;
}
.span-box {
    color:#60C8DB;
}
.number {
    color:#9D76E4;
}
.test {
    text-align: right;
    background-color: transparent!important;
    color:#88898C!important;
    padding:0!important;
    padding:8px 0!important;
    padding-right:16px!important;
    border-right:1px solid #d0d0d1!important;
    border-radius: 0!important;
    margin-right:25px;

}
.nav-pills .nav-link.active, .nav-pills .show .nav-link {
    color:#4927CD!important;
}
.p-box {
    text-align: justify;
    margin-top:24px ;
}
.img {
    border:1px solid transparent;
    border-radius: 8px;
    width:100%;
}
.video-box {
    position: relative!important;
    display: block!important;
}
.course-play{
    position: absolute;
    right:0;
    top:0;
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    border-radius: 8px;
}
.button-play {
    background-color: rgba(255, 255, 255, 0.2)!important;
    color:white!important;
    border:1px solid white!important;
}
.text-box {
    font-size: var(--text-font);
    color:var(--text-color2);
    margin-top:24 0 ;
}
.cd-box {
    color:#8FC02A;
}
.par-box3 {
    color:#9D76E4;
}
.btn-fake {
    color:#8FC02A;
}
.akol {
    color:white;
}
.background-box {
    color:#60C8DB;
}
.btn5 {
    color:#8FC02A;
}
.color-box {
    color:#9D76E4;
}
.color-box2 {
    color:#9D76E4;
}
.code-box {
    background-color:#272822 ;
    padding:20px;
    border:1px solid #272822;
    border-radius: 8px;
}
.code-box p {
    margin:0;
    direction: ltr;
}
.h5-box {
    margin-right:25px;
}
.aside-par p {
    text-align: justify;
    color:var(--text-color2);
    font-size: var(--text-font);
}
.aside-par {
    margin:24px 0;
}
.long-par {
    text-align: justify;
    margin:24px 0;
}
.long-par p{
    color:var(--text-color2);
    font-size: var(--text-font);
}
.test-box2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h1-box-asli {
    margin-top:32px;
}
.h1-box-asli p {
    padding-top:12px;
    text-align: justify;
}
.swiper-test {
    overflow: hidden;
}
.swiper-test {
    position: relative;
}
.slide-box3 a {
    text-align: center;
    margin:0;
    padding:12px 32px;
    background-color:#4927CD ;
    color:white;
    border:1px solid #4927CD;
    border-radius: 4px;
}
.slide-box3 {
    padding:55px 275px;
    background-color: #F8F8F8;
    border-radius:12px ;
    margin-top:31px;
}
.section-of-contact-box {
    margin-top:64px!important;
}
.call-box {
    display:flex;
    justify-content: space-between;
    background-color:#333645;
    margin-top:64px;
    padding:50px;
    border:1px solid #333645;
    border-radius:24px;
}
.way {
    display:flex;
    align-items:center;
}
.ertebat {
    margin-right:57px;
  }
  .ertebat p {
    color:white;
  }
  .h3-title {
    color:white; 
  }
  .email p{
    color:white;
  }
  .email a {
    color:white!important;
  }
  .number p , .number a {
    color:white!important;
  }
  .way2 {
    display:flex;
    justify-content: space-evenly;
  }
  .email {
    margin-left:82px;
  }
  .swiper-test3 {
    padding-top:30px!important;
  }
  .swiper-test4 {
    padding-top:30px!important;
  }
  .ul-box2 {
    display: flex;
    justify-content: space-between;
  }
  .ul-text li  {
    padding:16px 0;
  }
  .footer-div p {
    text-align: justify;
    width:448px;
  }
  .li-ul-box a{
    color:black!important;
  }
  .ul-text li a {
    color:#717175!important;
  }
  .footer-div2 {
    margin-top:64px;
  }
  .line {
    border-bottom: 1px solid #e7e7e8;
  }
  .icon {
    display: flex;
  }
  .end {
    display: flex;
    justify-content: space-between;
    border-top:1px solid #e7e7e8;
    padding-top:38.7px;
  }
  .icon span {
    font-size:25px;
    padding:0 5px;
  }
  .paragraf-box p {
    font-size:var(--text-font);
    color:#717175;
  }
@media screen and (max-width:1200px){
    .slide-box3 {
        padding:55px 157px;
    }
}
@media screen and (max-width:992px){
    .slide-box3 {
        padding:55px 77px;
    }
    .navbar-brand{
        order:2;
    }
    .navbar-toggler.collapsed {
        order:1;
    }
    .dropdown {
        order:3;
    }
    .nav-box li {
        padding:0;
        margin:0;
        border:none;
    }
    .call-box {
        display:inline-block;
      }
      .section-of-contact-box {
        margin-top:112px;
      }
      .footer-div p {
        width:100%;
      }
}
@media screen and (max-width:768px){
    .slide-box3{
        padding:55px 40px;
    }
    .slide-box3 a {
        padding:12px 9px;
    }
}
@media screen and (max-width:576px){
    .ul-text {
        padding:0;
    }
    .email {
        margin-left:17px;
    }
    .ertebat {
        margin-right:27px;
    }
    .slide-box3 {
        padding:24px 35px;
    }
    .slide-box3 a {
        padding:5px 0;
    }
    .paragraf-box {
        text-align: center;
    }
    .icon {
        justify-content: center;
    }
    .end {
        display:inline;
    }
}